:root {
	--output-height: 200;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1px var(--output-height);
	grid-template-areas:
		"editor"
		"resize"
		"output";
}

#editor {
	grid-area: "editor";
}

#resize {
	grid-area: "resize";
	background-color: #afafaf;
	cursor: row-resize;
}

#output {
	grid-area: "output";
	border: none;
	resize: none;
}

#output:focus {
    outline: none !important;
}
